[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=4.1"
django-extensions = "~=3.2"
djangorestframework = "~=3.14"
drf-spectacular = "~=0.24"
requests = "~=2.28.0"
python-dotenv = "~=0.21"
djangorestframework-simplejwt = ">=5.2"
pyjwt = {extras = ["crypto"], version = "~=2.5.0"}

[dev-packages]

[requires]
python_version = "3"
