[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=4.0"
django-extensions = "~=3.1"
djangorestframework = "~=3.13"
drf-spectacular = "~=0.22"
requests = "~=2.27.0"

[dev-packages]

[requires]
python_version = "3.10"
